
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Pour inclure les paddings et bordures dans la taille des éléments */
}

#header {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Pour inclure les paddings et bordures dans la taille des éléments */
    background-color: #5022E8;
    height: 125px;
    width:auto;
}
.options button {
    padding: 3px 10px;
    background-color: #ffffff; /* Couleur de fond par défaut */
    border: solid ; /* Contour par défaut */
    border-color: #E3E1E7;
    cursor: pointer;
    color: #5022E8;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    border-width: 2px;
    white-space: pre;
    display: block;
    margin-bottom: 12px;
    width: 508px;
    text-align: left;
    transition: transform 0.5s ease, background-color 0.5s ease; 
}

#quiz-container {
    display: block;
margin-top: 125px;
margin-left: 120px;

column-count: 2;
column-width: 90px;
column-gap: 6px;
align-items: center;

font-size: clamp(1rem, 0.3043rem + 3.4783vw, 3rem);
}

#textqcm {
    display: block;
  
}
.question {
    color:#5022E8;
    font-family: "Roboto", sans-serif;
    font-weight : bold;
    font-size: 16px;
}
.button-container button{
    padding: 7px 15px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    background-color:#5022E8;
    border-radius: 29px;
    font-size: 21px ;
    margin-bottom: 12px;
    position: relative;
    left: 402px;
}
.img{
 filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.24));
 display: flex;
 margin-left: 100px ;
 width:100%;
 max-width: 450px;
}



h1{
    font-family: "Roboto", sans-serif;
    
    font-size: 125px ;

}
.violet{
    color:#5022E8;
    background-color: #ffffff
}

.blanc {
    color: rgb(255, 255, 255);
}

* {
    cursor: url("FAUT EN TROUVER UN"), auto;
}

#timer {
    position: relative;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px ;
    color: #5022E8;
    width: 100px;
    left: 280px;
    bottom: 40px;
    font-weight: bolder;
    text-align:center;
}

.progressBar{
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    color:#5022E8;
    display: flex;
    align-items: right;
    justify-content: right;
    height: fit-content;
    margin-right: 90px;
}

.progressBarContainer {
    font-family: "Roboto", sans-serif;
    width: 100%;
    background-color: #fefbfb;
    border-radius: 8px;
    overflow: hidden;
    height: 16px;
    margin-top: 10px;
}

progress {
    width: 100%;
    appearance: none;
    border: none;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

progress::-webkit-progress-value {
    background-color: #f3f3f3;
}

progress::-webkit-progress-value {
    background-color: #5022E8;
    transition: width 0.5s ease-in-out;  /* Animation de transition */
}

progress::-moz-progress-bar {
    background-color: #5022E8;
    transition: width 0.5s ease-in-out;  /* Animation de transition */
}

/* Style pour le fond de la barre de progression */
progress::-webkit-progress-bar {
    background-color: #ebebeb; 
}
progress::-moz-progress-bar {
    background-color: #ebebeb; 
}


@keyframes progress-animation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


#menuBody{

    background-color: #5022E8;
    text-align: center;
}

#menuQuiz{
    text-align: center;
   color: #FFFFFF;
   font-family: "Roboto", sans-serif;
   font-size: 134px ;
   margin: 190px;

}

.buttonQuiz{
    position:relative;
    bottom: 120px;
    padding: 7px 15px;
    font-family: "Roboto", sans-serif;
    color:#5022E8;
    background-color:#FFFFFF;
    border-color:#5022E8;
    border-radius: 10px;
    font-size: 21px ;
    font-weight: bold;
    margin-bottom: left;
   margin: 50px;
   width: 150px;
   text-align: center;
  gap: 20px;
}


.options :hover {
    transform: scale(1.1);
    background-color: whitesmoke;
 
}

.button-container :hover{

    transform: scale(1.1); /* Scale up the button on hover */
    background-color:#6c46e6; /* Lighter, semi-transparent background color */

}


.buttonQuiz :hover {
    transform: scale(1.1);
    background-color: whitesmoke;
}
